{% extends 'base/home_newtemplate.html' %}
{% block title %}
    AvanceNotas
{% endblock title %}
    {% block form %}
        <h3 align="CENTER">REGISTRO AVANCE DE NOTAS {{ ano.Ano }} - {{ paca.Nombre }}</h3>
        <h5>Curso: {{ curso.Nombre }}</h5>
        <h5>GradoNivel: {{ grado }}| Seccion: {{ seccion }}</h5>
        <form id="f1" name="f1">
            {% csrf_token %}
            <div class="text" text align="center">
                <h3>Lista de Alumnos - Avance</h3>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12">
                <table class="table table-hover" class="display">
                    <thead>
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Apellidos y Nombres</th>
                            <th scope="col">Evaluación/Nota</th>
                            {% if grado == '4SEC' or grado == '5SEC' %}
                                <th scope="col">Simulacro/Nota</th>
                            {% else %}
                                <!-- Aqui no poner el encabezado de la columna -->
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if alumnos %}
                            {% for alu in alumnos %}
                                <tr class= "class-default">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ alu.Alumno.ApellidoPaterno }} {{ alu.Alumno.ApellidoMaterno }} {{ alu.Alumno.Nombres }}</td>
                                    <td>
                                        <input maxlength="60"
                                               size="50"
                                               type="text"
                                               name="{{ alu.id }}"
                                               id="{{ forloop.counter }}f1"
                                               class="form-control"
                                               onblur="cero_izquierda('{{ forloop.counter }}');"
                                               placeholder="Ej. 09,15 ó A,B etc">
                                    </td>
                                    <td>
                                        {% if grado == '4SEC' or grado == '5SEC' %}
                                            <input maxlength="60"
                                                   type="text"
                                                   name="simuf1{{ alu.id }}"
                                                   id="{{ forloop.counter }}f1uno"
                                                   class="form-control"
                                                   onblur="cero_izquierda('{{ forloop.counter }}');"
                                                   placeholder="Ej. 09,15 ó A,B etc">
                                        {% else %}
                                            <input maxlength="60"
                                                   type="text"
                                                   name="simuf1{{ alu.id }}"
                                                   id="{{ forloop.counter }}f1uno"
                                                   class="form-control"
                                                   onblur="cero_izquierda('{{ forloop.counter }}');"
                                                   placeholder="Ej. 09,15 ó A,B etc"
                                                   style="display: none;"
                                                   value="-">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Los Sentimos!</strong> Ya Existen Notas Registradas para el Grado:<STRONG>{{ grado }}</STRONG>, Sección: <STRONG>"{{ seccion }}",</STRONG> Curso: <strong>{{ curso.Nombre }},</strong> de éste Año y Periodo Académico. Por favor, revise sus Notas en <a href="{% url 'app_buscar_avancenotas' %}">Búsqueda Avanzada</a> o intente Nuevamente en <a href="{% url 'app_avancenota_nuevo' %}">Ingresar Notas de Libreta x Grado</a>, Gracias..!!
                        </div>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% if alumnos %}
            <button type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#myModal"
                    onclick="copia();">
                Revisar Avance de Notas antes de Guardar
            </button>
        {% endif %}
    </form>
    <form action="" method="POST" onsubmit="return valida()" id="f2">
        {% csrf_token %}
        <!--The Modal-->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title">REVISANDO LOS AVANCES DE NOTAS...</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <!--<h4>REVISANDO LAS NOTAS</h4>-->
                        <div align="center">
                            <p>
                                <strong>{{ ano.Ano }} - {{ paca.Nombre }} - {{ curso.Nombre }} - {{ grado }} - {{ seccion }}</strong>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <table class="table table-hover" class="display">
                                <thead>
                                    <tr>
                                        <th scope="col">Nro</th>
                                        <th scope="col">Apellidos y Nombres</th>
                                        <th scope="col">Evaluación/Nota</th>
                                        {% if grado == '4SEC' or grado == '5SEC' %}
                                            <th scope="col">Simulacro/Nota</th>
                                        {% else %}
                                            <!-- Aqui no poner el encabezado de la columna -->
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for alu in alumnos %}
                                        <tr class= "class-default">
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ alu.Alumno.ApellidoPaterno }} {{ alu.Alumno.ApellidoMaterno }} {{ alu.Alumno.Nombres }}
                                            </td>
                                            <td>
                                                <textarea maxlength="60"
                                                          type="text"
                                                          name="{{ alu.id }}"
                                                          id="{{ forloop.counter }}"
                                                          class="form-control"
                                                          onblur="poner_readonly_nota('{{ forloop.counter }}');"
                                                          placeholder="Ej. 09,15 ó A,B etc"
                                                          readonly="readonly"></textarea>
                                                <button type="button"
                                                        class="btn btn-warning btn-sm"
                                                        onclick="poner_cursor('{{ forloop.counter }}');">
                                                    Corregir
                                                </button>
                                            </td>
                                            <td>
                                                {% if grado == '4SEC' or grado == '5SEC' %}
                                                    <textarea maxlength="60"
                                                              type="text"
                                                              name="simu{{ alu.id }}"
                                                              id
                                                              {{ forloop.counter }}
                                                              uno
                                                              class="form-control"
                                                              onblur="poner_readonly_simu('{{ forloop.counter }}');"
                                                              placeholder="Ej. 09,15 ó A,B etc"
                                                              readonly="readonly"></textarea>
                                                    <button type="button"
                                                            class="btn btn-warning btn-sm"
                                                            onclick="poner_cursor2('{{ forloop.counter }}');">
                                                        Corregir
                                                    </button>
                                                {% else %}
                                                    <textarea maxlength="60"
                                                              type="text"
                                                              name="simu{{ alu.id }}"
                                                              id
                                                              {{ forloop.counter }}
                                                              uno
                                                              class="form-control"
                                                              onblur="poner_readonly_simu('{{ forloop.counter }}');"
                                                              placeholder="Ej. 09,15 ó A,B etc"
                                                              readonly="readonly"
                                                              style="display: none;"
                                                              value="-"></textarea>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-success">
                                Guardar Avance de Notas
                            </button>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
	function poner_cursor(id){//FormaModalNota
		document.getElementById(id).readOnly = false;
		document.getElementById(id).focus();
		document.getElementById(id).select()

	}
	function poner_cursor2(id){//FormaModalSimu
		document.getElementById(id+'uno').readOnly = false;
		document.getElementById(id+'uno').focus();
		document.getElementById(id+'uno').select()
	}

	function poner_readonly_nota(id){//FormaModal Nota
		document.getElementById(id).readOnly = true;
		var texto="";
		texto=document.getElementById(id).value.trim();
		document.getElementById(id).value = texto.toUpperCase();

		if (texto.length==1) {
			if ((texto==0 || texto==1 || texto==2 || texto==3 || texto==4 || texto==5 || texto==6 || texto==7 || texto==8 || texto==9)){
				document.getElementById(id).value = "0"+texto;

			}
		}
		//Aqui recien copia del Modal al F1 solo la Nota
		document.getElementById(id+'f1').value= document.getElementById(id).value
	}

	function poner_readonly_simu(id){//FormaModalSimu
		document.getElementById(id+'uno').readOnly = true;
		var texto="";
		texto=document.getElementById(id+'uno').value.trim();
		document.getElementById(id+'uno').value = texto.toUpperCase();

		if (texto.length==1) {
			if ((texto==0 || texto==1 || texto==2 || texto==3 || texto==4 || texto==5 || texto==6 || texto==7 || texto==8 || texto==9)){
				document.getElementById(id+'uno').value = "0"+texto;
			}
		}
		//Aqui recien copia del Modal al F1 solo la Nota SIMU
		document.getElementById(id+'f1uno').value= document.getElementById(id+'uno').value
	}

	function copia(){//copia en ambos sentidos Ambos Form1 y Form2
	   	var contador =0;
	   	var x = (((document.getElementById("f1").length)-2)/2) ;
	   	for (var i = 0, mayor = x; i < mayor; i ++){
			contador ++;
			//Solamente de F1 a F2
			document.getElementById(contador).value = document.getElementById(contador+'f1').value.trim();
			document.getElementById(contador+'uno').value = document.getElementById(contador+'f1uno').value.trim();
			//Esto es de F2 a F1
		}

	}

	function cero_izquierda(id){//Form1
		var texto="";
		texto=document.getElementById(id+'f1').value.trim();
		texto2=document.getElementById(id+'f1uno').value.trim();

		document.getElementById(id+'f1').value = texto.toUpperCase();
		document.getElementById(id+'f1uno').value = texto2.toUpperCase();

		if (texto.length==1) {
			if ((texto==0 || texto==1 || texto==2 || texto==3 || texto==4 || texto==5 || texto==6 || texto==7 || texto==8 || texto==9)){
				document.getElementById(id+'f1').value = "0"+texto;
			}
		}
		if (texto2.length==1) {
			if ((texto2==0 || texto2==1 || texto2==2 || texto2==3 || texto2==4 || texto2==5 || texto2==6 || texto2==7 || texto2==8 || texto2==9)){
				document.getElementById(id+'f1uno').value = "0"+texto2;
			}
		}				
	}



	function valida()
	{
		var ok=true;
		var contador =0;
		var texto = "";
		var texto2 = "";
		var msg="Debe completar todas las casillas de Evaluación/Nota, rellene con Guión (-) si el Alumno aún No tiene Nota, Exo (Exonerado), para poder Guardar";
		var x = ((document.getElementById("f1").length)-2)/2;
		
		for (var i = 0, mayor = x; i < mayor; i ++){
			contador ++;
			texto = document.getElementById(contador+'f1').value;
			texto2= document.getElementById(contador+'f1uno').value;
			//texto = f.elements[contador].value
			if (texto.length == 0 || texto2.length == 0) {
				ok=false;
			}
		}

		if (ok == false) {
			alert(msg);
			return false;

		}
		
		if (ok == true){
			return true;
		}
	}

    </script>
{% endblock %}
