{% extends 'base/home_newtemplate.html' %}
{% block title %}EliminarAvanceNotasxCurso {% endblock title %}
{% block form %}	
<div class="col-md-12">
	<br>
	{% if msje == 'eliminado' %}
	<div class="alert alert-dismissible alert-success">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Eliminado!</strong> Los avances de Notas Seleccionados, fueron eliminados.<a href="#" class="alert-link"></a>
	</div>
	{% endif %}

	<div class="text" text align="center">
		<h3>Eliminar Avance de Notas x Curso</h3>
	</div>
	<form action="" method="POST">{% csrf_token %}	
		<div class="row">
			<div class="col-md-4">
				<label>Seleccione Año</label>
				<select class="single-select" name="Ano">
					{% for a in ano %}
						<option value="{{a.id}}">{{ a.Ano}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-4">
				<label>Seleccione Bimestre</label>
				<select class="form-control" name="PAcademico">
					{% for p in pac %}
						<option value="{{p.id}}">{{ p.Nombre}}</option>
					{% endfor %}
				</select>
			</div>
		
			<div class="col-md-4">
				<label>Seleccione Curso</label>
				<select class="form-control" name="Curso">
				{% for c in cur %}
					<option value="{{c.id}}">{{ c}}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<br>
				<label>Seleccione Grado</label>
				<select class="form-control" name="Grado">	
					<option value="1PRIM">1PRIM</option>
					<option value="2PRIM">2PRIM</option>
					<option value="3PRIM">3PRIM</option>
					<option value="4PRIM">4PRIM</option>
					<option value="5PRIM">5PRIM</option>
					<option value="6PRIM">6PRIM</option>
					<option value="1SEC">1SEC</option>
					<option value="2SEC">2SEC</option>
					<option value="3SEC">3SEC</option>
					<option value="4SEC">4SEC</option>
					<option value="5SEC">5SEC</option>
				</select>
			</div>

			<div class="col-md-4">
				<br>
				<label>Seleccione Sección</label>
				<select class="form-control" name="Seccion">	
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
					<option value="E">E</option>
					<option value="F">F</option>
					<option value="G">G</option>
				</select>
			</div>
		</div>
		<div class="row">

			<div class="col-md-4">
				<br>
				<button type="submit" class="btn btn-danger" value="Guardar">Eliminar Avance de Notas</button>
			</div>	
		</div>
	</form>
</div>


{% endblock %}
