{% extends 'base/home_newtemplate.html' %}
{% block title %}ImprimirLibretadeNotas{% endblock title %}
{% block active_oo %} active {% endblock%}
{% block form %}
<h5 align="CENTER">REPORTE LIBRETA DE NOTAS SECUNDARIA</h5>
<form method='POST'>{%csrf_token%}
	<div class="row">
		<div class="col-md-6">
			<label>Seleccione Año</label>
			<select class="single-select" name="Ano">
				{% for a in aac %}
					<option value="{{a.Ano}}">{{ a.Ano}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-6">
			<label>Seleccione Bimestre</label>
			<select class="single-select" name="Pac">
				{% for p in pac %}
					<option value="{{p.Nombre}}">{{ p.Nombre}}</option>
				{% endfor %}
			</select>
			<br>	
		</div>
		<div class="col-md-6">
			<label for="exampleSelect1">Seleccione GradoNivel</label>
      		<select class="single-select" name="Grado">
	        	<option value="1SEC">1SEC</option>
		        <option value="2SEC">2SEC</option>
		        <option value="3SEC">3SEC</option>
		        <option value="4SEC">4SEC</option>
		        <option value="5SEC">5SEC</option>
		        <option value="6SEC">6SEC</option>
      		</select>
      	</div>
      	<div class="col-md-6">
			<label for="exampleSelect1">Seleccione Sección</label>
      		<select class="single-select" name="Seccion">
	        	<option value="A">A</option>
		        <option value="B">B</option>
		        <option value="C">C</option>
		        <option value="D">D</option>
		        <option value="E">E</option>
		        <option value="F">F</option>
		        <option value="G">G</option>
      		</select>
      	</div>
    </div>

    <div class="row">
			<div class="col-md-6">
			<br>		
      			<button type="submit" class="btn btn-outline-success">Imprimir Libreta Secundaria</button>
      		</div>
    </div>

</form>
{% endblock %}

