{% extends 'base/home_newtemplate.html' %}
{% block title %}Cambiar Contraseña{% endblock title %}
{% block active_us %} active {% endblock%}
{% block form %}
<form method="POST">{%csrf_token%}
	<div class="row">
		<div class="col-md-10">
			{% if success %}
			<div class="alert alert-dismissible alert-success">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Excelente!</strong> Has cambiado tu contraseña correctamente. <a href="#" class="alert-link">.</a>
			</div>
			
			{% endif %}
		</div>
		<div class="col-md-10">
			<h6>Por favor, introduzca su contraseña antigua, por seguridad, y después introduzca la nueva contraseña dos veces para verificar que la ha escrito correctamente.</h6>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				

				<label>Contraseña Antigua:</label> 
				<input type="password" name="old_password" class="form-control" id="id_old_password" required>
				<label>Contraseña Nueva:</label> 
				<input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
				<li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
				<li>Su contraseña debe contener al menos 8 caracteres.</li>
				<li>Su contraseña no puede ser una clave utilizada comunmente.</li>
				<li>Su contraseña no puede ser completamente numérica.</li>

				<label>Contraseña Nueva:</label> 
				<input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
				
				
			</div>
			<div class="row">
				<div class="col-md-6">
					<button type="submit" class="btn btn-outline-primary" class="form-control">Cambiar</button>	
				</div>					
			</div>
		</div>
	</div>
	
		
			
			
		

	
	
</form>
	
{% endblock %}