{% extends 'base/home_newtemplate.html' %}
{% block title %}AsignarCursos{% endblock title %}
{% block form %}
<h5 align="CENTER">ASIGNACIÓN DE CURSOS/EVALUACIONES</h5>
<form method="POST">{%csrf_token%}
<h5>Dni: {{ doce.DNI }}/Nombres: {{doce.User.first_name}} {{doce.User.last_name}} </h5>
	
	<div class="row">
	<div class="col-md-6 col-lg-6 col-xs-6">
		<label>Seleccione Evaluación</label>
		{{form.Curso}}
	</div>
	<div class="col-md-6 col-lg-6 col-xs-6">
		<br>
		<button type="submit" class="btn btn-success" value="Guardar">Guardar Asignación</button>		
	</div>
	</div>
</form>

<h5 align="CENTER">Cursos/Evaluaciones Asignados a Docentes</h5>
		<table class="table table-hover" id="example" class="display">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">CursoAsignado</th>
			  <th scope="col">Nivel del Curso</th>
		      <th scope="col">Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		  	
		      {% for docentes in doce_list %}
			      <!--<tr class= "class-default" onclick="window.location='{% url 'app_docente_detalle' docentes.id %}';">  -->
			      	<td>{{ docentes.id }}</td>
			      	<td>{{ docentes.Curso }}</td>
					<td>{{ docentes.Curso.Nivel}}</td>
			      	<td>
						<a href="{% url 'app_docentecurso_update' docentes.id %}" class="btn btn-warning"><span class="edit-solid icon"></span>__</a>
						<a href="{% url 'app_docentecurso_delete' docentes.id %}" class="btn btn-danger"><span class="trash-solid icon"></span>__</a>
			      	</td>
			      </tr>	
		      {% endfor %}
		    
		  </tbody>
		</table>
{% endblock %}

