{% extends 'base/home_newtemplate.html' %}
{% block title %}IngresoAvanceNotasxAlumno {% endblock title %}

{% block form %}	
<div class="col-sm-9">
	<div class="text" text align="center">
		<h3>Ingreso de Libreta de Notas x Alumno - {{ano.Ano}}</h3>
	</div>
	<form action="" method="POST">{% csrf_token %}	

		<div class="form-group">
			<label>Seleccione Bimestre</label>
			<select class="single-select" name="PAcademico">
			{% for p in paca %}
				<option value="{{p.id}}">{{ p.Nombre}}</option>
			{% endfor %}
			</select>
		</div>

		<div class="form-group">
			<label>Seleccione Alumno</label>

			<!-- <form onsubmit="return false">
				<input class="form-control" type="text" name="buscar" id="buscar" onchange="buscarSelect()">
			</form> -->
			
			<select class="single-select" name="Alumno" id="Alumnos">
			{% for m in matri %}
				<option value="{{m.id}}">{{ m.Matricula}}</option>
			{% endfor %}
			</select>
		</div>

		<div class="form-group">
			<label>Seleccione Curso</label>
			<select class="single-select" name="Curso">
			{% for cursos in curso %}
				<option value="{{cursos.id}}">{{ cursos.Nombre}}</option>
			{% endfor %}
			</select>
		</div>

		<div class="form-group">
			<label for="text">Nota</label>
			<input type="text" name="Nota" class="form-control">
		</div>
		<button type="submit" class="btn btn-success" value="Guardar">Guardar Nota</button>
	</form>
</div>

<script type="text/javascript">
// function buscarSelect()
// {
// 	// creamos un variable que hace referencia al select
// 	var select=document.getElementById("Alumnos");
 
// 	// obtenemos el valor a buscar
// 	var buscar=document.getElementById("buscar").value;
 
// 	// recorremos todos los valores del select
// 	for(var i=1;i<select.length;i++)
// 	{
// 		if(select.options[i].text==buscar)
// 		{
// 			// seleccionamos el valor que coincide
// 			select.selectedIndex=i;
// 		}
// 	}
// }
</script>
{% endblock %}
