<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{% block title %}{% endblock title %}</title>
	</head>
		{% block css %} <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		  <link rel="stylesheet" href="/static/css/bootstrap.scss">
		  <link rel="stylesheet" href="/static/fonts/ionic.css">
		  <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
  		{% endblock css %}
	<body>
		
		{% block content %}
				
		{% endblock %}
	</body>
</html>
		{% block js %}
		{% endblock js %}

