{% extends 'base/base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.scss">
  <link rel="stylesheet" href="/static/fonts/ionic.css">
  <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/static/fonts/style.css">

{% endblock css %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CÉSAR VALLEJO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://colcoopcv.com">Inicio
            <span class="visually-hidden"></span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actividades</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="https://aulavirtual.cvallejoiquitos.com/">Aula Virtual</a>
              <a class="dropdown-item" href="https://drive.google.com/open?id=1hj6qnxE2NzqMH4NiR8SeNw0efhEaH6BT">Manual Ingreso de Notas</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Bienvenido: {{ user.first_name }}
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>     

          </div>
        </li>

      </ul>
      
    </div>
  </div>
</nav>
<div class="col-md-12 col-xs-10 col-lg-12 col-xl-12">
  {% block form %}{% endblock %}
</div>

    
</body>
{% endblock content %}
{% block js %}
<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://bootswatch.com/_assets/js/custom.js"></script>
<script type="text/javascript" src="/static/js/dataTables.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/js/jszip.min.js"></script>
<script type="text/javascript" src="/static/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
{% endblock js %}


