{% extends 'base/home2.html' %}
{% block title %}
    Listar Notas
{% endblock title %}
{% block active_no %}active{% endblock %}
{% block form %}
<style type="text/css" >
    @page { size: landscape; 
        padding-left: 0px;
        margin-left: 0px;
        margin-top: 25px;
        
    }
    @media print{
        div.saltopagina{
        display:block;
        page-break-before:always;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    }

</style>
<form id="apreciaciones">
{% for mat in matricula %}
        <div class="row" style="padding-top: 20px;"><!--ABRE DIV ROW -->
            <div class="col-6"><!--ABRE COL6 -->
                <div class="row"> <!--ABRE ROW -->
                    <div class="col-12"> <!--ABRE COL 12 -->
                        <div class="row"> <!--ABRE ROW -->
                            <div class="col-2" style="padding-left: 40px;padding-top: 35px;">
                                <img src="/static/img/logo_escudo.png" alt="" style="width: 60px;
                                ">
                            </div>
                            <div class="col-8">
                                <table class="table-hover" border>
                                    <thead>
                                        <tr>
                                            <th colspan="4" style="font-size:9px;text-align: center;color: black;">LIBRETA DE NOTAS {{ano}}</th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 9px;width: 100px;color: black;">Institución Educativa:</th>
                                            <th colspan="3" style="
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 9px;width: 300px;color: black;">COLEGIO COOPERATIVO CÉSAR VALLEJO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:9px">
                                            <td style="background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;color: black;padding-left: 3px;">Grado:</td>
                                            <td style="padding-left: 5px;color: black;text-align: center;">{{ grado}}°</td>
                                            <td style="background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;color: black;">Sección:</td>
                                            <td style="padding-left: 5px;color: black;">{{seccion}}</td>
                                        </tr>
                                        <tr style="font-size:9px">
                                            <td style="background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;color: black;padding-left: 3px;">Nivel:</td>
                                            <td colspan="3" style="padding-left: 5px;color: black;">{{ nivel}}</td>
                                            
                                        </tr>
                                        <tr style="font-size:9px">
                                            <td style="background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;color: black;padding-left: 3px;">Apellidos y nombres:</td>
                                            <td colspan="3" style="padding-left: 5px;color: black;">{{ mat.Alumno }}</td>
                                        </tr>
                                        <tr style="font-size:9px">
                                            <td style="background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;color: black;padding-left: 3px;">Tutor(a):</td>
                                            <td colspan="3" style="padding-left: 5px;color: black;">{{ tutor }}</td>
                                        </tr>
                                        <tr style="font-size:9px;">
                                            <td style="background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;color: black;padding-left: 3px;">Bimestre:</td>
                                            <td style="padding-left: 5px;color: black;">{{ paca }}</td>
                                            <td style="background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;color: black;">Año:</td>
                                            <td style="padding-left: 5px;color: black;">{{ ano }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-2" style="padding-left: 9px;padding-top: 20px;">
                                <img src="/static/img/logo_cvallejo.png" style="width: 60px;">
                            </div>
                        </div> <!--ABRE ROW -->
                    </div><!--CIERRA COL 12 -->  
                </div> <!--ABRE ROW -->
                
                
                <!-- EN ESTA SECCION VA IR LAS NOTAS -->        
                <div class="col-12" style="padding-left:100;padding-top: 5px;">
                    <table class="" border="black">
                        <thead >
                            <tr>
                                <th rowspan="2" scope="col"
                                    style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 7px;width: 60px;color: black;">
                                    ÁREA CURRICULAR
                                </th>
                                <th rowspan="2" scope="col"
                                    style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            vertical-align: middle;
                                            -webkit-print-color-adjust: exact;font-size: 7px;color: black;">
                                    COMPETENCIAS
                                </th>
                                <th colspan="4" scope="col"
                                    style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            vertical-align: middle;
                                            -webkit-print-color-adjust: exact;font-size: 7px;color: black;width: 110px;">          
                                    CALIFICATIVO BIMESTRE
                                </th>
                                <th rowspan="2" style="width: 60px;text-align: center;background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;font-size: 8px;width: 40px;color: black;">CALIF. FINAL</th>
                            </tr>
                            <tr>
                                <th style="text-align: center;background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;font-size: 7px;color: black;">I</th>
                                <th style="text-align: center;background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;font-size: 7px;color: black;">II</th>
                                <th style="text-align: center;background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;font-size: 7px;color: black;">III</th>
                                <th style="text-align: center;background-color: rgb(226, 225, 225);-webkit-print-color-adjust: exact;font-size: 7px;color: black;">IV</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                                
                            {% for no in notas %}
                                {% ifequal no.matricula mat.id  %}
                                    {% ifequal no.tipocurso 'CURSO' %}
                                        <tr class="class-default">
                                                <!-- CURSO CURSO CURSO CURSO CURSO CURSO -->
                                                {% ifchanged  no.nombrecurso %}
                                                    <td rowspan="{% for re in  result %}{% ifequal re.idcurso no.curso %}{{re.num_compe}}{% endifequal %}{% endfor %}" 
                                                    style="padding-bottom: 0px;padding-top: 0px;
                                                    font-size: 8px;text-align: center;
                                                    vertical-align: middle;
                                                    padding-left: 3px;color: black;">
                                                        {{no.nombrecurso}}</td>
                                                {%else%}

                                                {% endifchanged %}
                                                <!-- CURSO CURSO CURSO CURSO CURSO CURSO  -->

                                                <!-- COMPETENCIA COMPETENCIA COMPETENCIA COMPETENCIA -->
                                                <td style="padding-bottom: 0px;
                                                padding-top: 0px;
                                                font-size: 8px;vertical-align: middle;
                                                -webkit-print-color-adjust: exact;
                                                padding-left: 3px;color: black;{%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225){%endifequal%};">
                                                    {{ no.nombrecompetencia }}
                                                </td>
                                                <!-- COMPETENCIA COMPETENCIA COMPETENCIA COMPETENCIA -->
                                                
                                                <!-- NOTAS NOTAS NOTAS NOTAS -->
                                                <!-- AQUI PRIMER BIMESTRE -->
                                                {% ifequal no.nota 'C' %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;
                                                            color: red;
                                                            vertical-align: middle;padding-left: 3px;font-weight: bold;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225){%endifequal%};
                                                            ">
                                                        {{ no.nota }}
                                                    </td>
                                                {% else %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;font-weight: bold;
                                                            vertical-align: middle;padding-left: 3px;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225){%endifequal%};
                                                            {% if no.Nota == 'COMPETENCIA NO DESARROLLADA'%}width: 225px;{% endif %}">
                                                        {{ no.nota }}
                                                    </td>
                                                {% endifequal %}
                                            
                                                <!--AQUI SEGUNDO BIMESTRE -->
                                                {% ifequal no.nota2 'C' %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;
                                                            color: red;
                                                            vertical-align: middle;padding-left: 3px;font-weight: bold;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225){%endifequal%};
                                                            ">
                                                        {{ no.nota2 }}
                                                    </td>
                                                {% else %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;font-weight: bold;
                                                            vertical-align: middle;padding-left: 3px;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color:rgb(226, 225, 225);{%endifequal%}">
                                                        {{ no.nota2 }}
                                                    </td>
                                                {% endifequal %}

                                                <!--AQUI TERCER BIMESTRE -->
                                                {% ifequal no.nota3 'C' %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;font-weight: bold;
                                                            color: red;
                                                            vertical-align: middle;padding-left: 3px;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225);{%endifequal%}
                                                            ">
                                                        {{ no.nota3 }}
                                                    </td>
                                                {% else %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;font-weight: bold;
                                                            vertical-align: middle;padding-left: 3px;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225);{%endifequal%}">
                                                        {{ no.nota3 }}
                                                    </td>
                                                {% endifequal %}

                                                <!--AQUI CUARTO BIMESTRE -->
                                                {% ifequal no.nota4 'C' %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;font-weight: bold;
                                                            color: red;
                                                            vertical-align: middle;padding-left: 3px;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225);{%endifequal%}
                                                            ">
                                                        {{ no.nota4 }}
                                                    </td>
                                                {% else %}
                                                    <td style="padding-bottom: 0px;
                                                            padding-top: 0px;
                                                            -webkit-print-color-adjust: exact;
                                                            font-size: 8px;
                                                            text-align: center;font-weight: bold;
                                                            vertical-align: middle;padding-left: 3px;
                                                            {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225);{%endifequal%}">
                                                        {{ no.nota4 }}
                                                    </td>
                                                {% endifequal %}

                                                <td style="
                                                -webkit-print-color-adjust: exact;
                                                {%ifequal no.nombrecompetencia 'CALIFICATIVO DE ÁREA'%}background-color: rgb(226, 225, 225);{%endifequal%}"></td><!--Calificativo Anual-->
                                            </tr>
                                    {% endifequal %}       
                                {% endifequal %}
                            {% endfor %}
                            
                        </tbody>
                    </table>

                </div>


            </div><!--CIERRA PRIMER COL6 -->


            <div class="col-6"><!--ABRE SEGUNDO COL6 -->
                <div class="row">
                    <div class="col-12">
                        <div class="row"><!-- ABRE ROW ACTITUDINAL Y PADRE DE FAMILIA -->    
                            <div class="col-4">
                                <table class="" border><!-- EVALUACION ACTITUDINAL -->
                                    <thead>
                                        <tr class="class-default">
                                            <th colspan="5" scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">EVALUACIÓN ACTITUDINAL</th>
                                        </tr>
                                        <tr class="class-default">
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">DESCRIPCIÓN</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">I</th>
                                            <th style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">II</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">III</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">IV</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for no in notas %}
                                            {% ifequal no.matricula mat.id  %}
                                                {% ifequal no.tipocurso 'ACTITUDINAL'  %} 
                                                    <tr>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        vertical-align: middle;padding-left: 5px;width: 200px;color: black;">{{no.nombrecompetencia}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota2}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota3}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota4}}</td>
                                                    </tr>

                                                {% endifequal %}
                                            {%endifequal%}
                                        {%endfor%}
                                    </tbody>

                                </table><!-- CIERRA EVALUACION ACTITUDINAL -->
                            </div> <!-- CIERRA COL -->
                            <div class="col-8">           
                                <table class="" border><!-- EVALUACION DEL PADRE DE FAMILIA -->
                                    <thead>
                                        <tr class="class-default">
                                            <th colspan="5" scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">EVALUACIÓN DEL PADRE DE FAMILIA</th>
                                        </tr>
                                        <tr class="class-default">
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">DESCRIPCIÓN</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">I</th>
                                            <th style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">II</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">III</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">IV</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for no in notas %}
                                            {% ifequal no.matricula mat.id  %}
                                                {% ifequal no.tipocurso 'DEL PADRE DE FAMILIA'  %} 
                                                    <tr>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        vertical-align: middle;padding-left: 5px;width: 550px;color: black;">{{no.nombrecompetencia}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota2}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size:8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota3}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 5px;width:40px;color: black;">{{no.nota4}}</td>
                                                    </tr>

                                                {% endifequal %}
                                            {%endifequal%}
                                        {%endfor%}
                                    </tbody>

                                </table><!-- CIERRA EVALUACION DEL PADRE DE FAMILIA -->
                            </div> <!-- CIERRA COL6 DEL PADRE DE FAMILIA -->
                        </div><!-- CIERRA ROW ACTITUDINAL Y PADRE DE FAMILIA -->
                    </div><!-- CIERRA COL 12 -->
                </div><!-- CIERRA ROW -->

                <div class="row" style="margin-top: 10px;"><!-- ABRE ROW -->
                    <div class="col-12">
                        <table border id="{{mat.id}}"><!-- APRECIACIÓN DEL TUTOR -->
                            <input type="text" value="{{mat.id}}" hidden>
                            <thead>
                                <tr>
                                    <th scope="col" style="background-color: rgb(226, 225, 225);
                                    padding-bottom: 0px;
                                    padding-top: 0px;
                                    text-align: center;
                                    padding-left: 3px;
                                    -webkit-print-color-adjust: exact;font-size: 8px;width: 70px;color: black;">PERIODO</th>

                                    <th scope="col" style="background-color: rgb(226, 225, 225);
                                    padding-bottom: 0px;
                                    padding-top: 0px;
                                    text-align: center;
                                    padding-left: 3px;
                                    -webkit-print-color-adjust: exact;font-size: 8px;width: 1000px;color: black;">APRECIACIÓN DEL TUTOR(A) SOBRE LAS ACTITUDES DEL ALUMNO </th>
                                </tr>
                            </thead>
                        <tbody>
                            {% for no in apreciaciones %}
                                {% ifequal no.Matricula.id mat.id  %}
                                    {% ifequal no.Curso.Tipo 'APRECIACIÓN DEL TUTOR' %} 
                                        <tr>
                                            <td style="padding-bottom: 0px;
                                            padding-top: 0px;
                                            font-size: 8px;
                                            vertical-align: middle;padding-left: 3px;color: black;" >{{no.PAcademico.Nombre}}</td>
                                            <td style="padding-bottom: 0px;
                                            padding-top: 0px;
                                            font-size: 8px;
                                            vertical-align: middle;padding-left: 3px;color: black;">{{no.Nota}}</td>
                                        </tr>                              
                                    {% endifequal %}
                                {%endifequal%}
                            {%endfor%}
                            
                        </tbody>

                        </table>
                    </div>
                </div><!-- CIERRA ROW -->

                <div class="row" style="margin-top: 10px;"> <!-- INASISTENCIAS Y CLAVE DE EVALUACIÓN -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <table class="" border><!-- INASISTENCIAS -->
                                    <thead>
                                        <tr class="class-default">
                                            <th colspan="5" scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">INASISTENCIAS</th>
                                        </tr>
                                        <tr class="class-default">
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">DESCRIPCIÓN</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">I</th>
                                            <th style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">II</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">III</th>
                                            <th scope="col" style="background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 8px;color: black;">IV</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for no in notas %}
                                            {% ifequal no.matricula mat.id  %}
                                                {% ifequal no.tipocurso 'INASISTENCIAS'  %} 
                                                    <tr>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        vertical-align: middle;padding-left: 3px;width: 200px;color: black;">{{no.nombrecompetencia}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 3px;width:40px;color: black;">{{no.nota}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 3px;width:40px;color: black;">{{no.nota2}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 3px;width:40px;color: black;">{{no.nota3}}</td>
                                                        <td style="padding-bottom: 0px;
                                                        padding-top: 0px;
                                                        font-size: 8px;
                                                        text-align: center;
                                                        vertical-align: middle;padding-left: 3px;width:40px;color: black;">{{no.nota4}}</td>
                                                    </tr>

                                                {% endifequal %}
                                            {%endifequal%}
                                        {%endfor%}
                                    </tbody>

                                </table><!-- CIERRA INASISTENCIAS -->
                            </div>
                            <div class="col-6"><!-- CLAVE DE EVALUACIÓN-->
                                <table class="" border>
                                    <thead>
                                        <tr>
                                            <th colspan="2" style="
                                            background-color: rgb(226, 225, 225);
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                            text-align: center;
                                            -webkit-print-color-adjust: exact;font-size: 9px;width: 250px;">CLAVE DE EVALUACIÓN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 9px;text-align: center;width: 40px;padding-bottom: 0px;
                                            padding-top: 0px;">AD</td>
                                            <td style="font-size: 9px;padding-bottom: 0px;
                                            padding-top: 0px;">LOGRO DESTACADO
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 9px;text-align: center;padding-bottom: 0px;
                                            padding-top: 0px;">A</td>
                                            <td style="font-size: 9px;padding-bottom: 0px;
                                            padding-top: 0px;">LOGRO PREVISTO
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 9px;text-align: center;padding-bottom: 0px;
                                            padding-top: 0px;">B</td>
                                            <td style="font-size: 9px;padding-bottom: 0px;
                                            padding-top: 0px;">EN PROCESO
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 9px;text-align: center;padding-bottom: 0px;
                                            padding-top: 0px;">C</td>
                                            <td style="font-size: 9px;padding-bottom: 0px;
                                            padding-top: 0px;">EN INICIO
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- CIERRA CLAVE DE EVALUACIÓN-->
                        </div>
                    </div>
                </div><!-- CIERRA INASISTENCIAS  -->

                <div class="row" style="margin-top: 10px;">
                    <div class="col-12" style="text-align: -webkit-center;">
                        <table class="" border>
                            <thead><tr><th colspan="2" style="background-color: rgb(226, 225, 225);
                                padding-bottom: 0px;
                                padding-top: 0px;
                                text-align: center;
                                -webkit-print-color-adjust: exact;font-size: 8px;width: 250px;font-size: 8px;color: black;">SITUACIÓN FINAL</th></tr></thead>
                            <tbody>
                                <tr><td style="padding-bottom: 0px;
                                    padding-top: 0px;
                                    padding-left: 5px;
                                    -webkit-print-color-adjust: exact;font-size: 8px;color: black;">
                                        PROMOVIDO
                                    </td>
                                    <td style="padding-bottom: 0px;
                                    padding-top: 0px;
                                    text-align: center;
                                    -webkit-print-color-adjust: exact;font-size: 8px;color: black;width: 50px;">
                                    <!-- SI VA  MARCADO -->
                                    </td>
                                </tr>
                                <tr><td style="padding-bottom: 0px;
                                    padding-top: 0px;
                                    padding-left: 5px;
                                    -webkit-print-color-adjust: exact;font-size: 8px;color: black;">
                                    PASA A RECUPERACIÓN
                                    </td>
                                    <td style="padding-bottom: 0px;
                                    padding-top: 0px;
                                    -webkit-print-color-adjust: exact;font-size: 8px;color: black;">
                                    <!-- AQUI VA SITUACIÓN FINAL -->
                                    </td>
                                </tr>
                                <tr><td style="padding-bottom: 0px;
                                    padding-top: 0px;
                                    padding-left: 5px;
                                    -webkit-print-color-adjust: exact;font-size: 8px;color: black;">
                                    REPITE
                                    </td>
                                    <td style="padding-bottom: 0px;
                                    padding-top: 0px;
                                    -webkit-print-color-adjust: exact;font-size: 8px;color: black;">
                                    <!-- AQUI VA LA SITUACION FINAL -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;"><!-- ROW DE LAS FIRMAS -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6" style="text-align: -webkit-center;">
                                <img src="/static/img/firma_maria.png" alt="" style="width: 180px;">           
                            </div>
                            <div class="col-6" style="align-items: center;text-align: -webkit-center;">
                                <img src="/static/img/firma_segundo.png" alt="" style="width: 180px;">
                            </div>
                        </div>
                    </div>
                </div><!-- CIERRA ROW DE LAS FIRMAS -->


            </div><!--CIERRA SEGUNDO COL6 -->
     
        </div><!-- CIERRA DIV ROW -->


        


<div class="saltopagina"></div>

{% endfor %}
</form>
{% endblock %}

{% block js1 %}
    <script>
            window.onload = function agregarfilas(){
                var elements = document.getElementById("apreciaciones").elements;
                var cantidades=0;
                lista=[];
                for (var i = 0, element; element = elements[i++];) {
                    if (element.type === "text"){
                        lista[cantidades]=element.value;
                        cantidades=cantidades+1;
                    }
                }

                $.each(lista, function (indexInArray, num) {
                    var filas = document.getElementById(num).getElementsByTagName('tr').length - 1;
                    if (filas==1) {
                        document.getElementById(num).insertRow(-1).innerHTML = '<td style="padding-bottom: 0px; padding-top: 0px; font-size: 8px;vertical-align: middle;padding-left: 3px;color: black;">II BIMESTRE</td><td></td>';
                        document.getElementById(num).insertRow(-1).innerHTML = '<td style="padding-bottom: 0px; padding-top: 0px; font-size: 8px;vertical-align: middle;padding-left: 3px;color: black;">III BIMESTRE</td><td></td>';
                        document.getElementById(num).insertRow(-1).innerHTML = '<td style="padding-bottom: 0px; padding-top: 0px; font-size: 8px;vertical-align: middle;padding-left: 3px;color: black;">IV BIMESTRE</td><td></td>';
                    }

                    if (filas==2) {
                        document.getElementById(num).insertRow(-1).innerHTML = '<td style="padding-bottom: 0px; padding-top: 0px; font-size: 8px;vertical-align: middle;padding-left: 3px;color: black;">III BIMESTRE</td><td></td>';
                        document.getElementById(num).insertRow(-1).innerHTML = '<td style="padding-bottom: 0px; padding-top: 0px; font-size: 8px;vertical-align: middle;padding-left: 3px;color: black;">IV BIMESTRE</td><td></td>';
                    }

                    if (filas==3) {
                        document.getElementById(num).insertRow(-1).innerHTML = '<td style="padding-bottom: 0px; padding-top: 0px; font-size: 8px;vertical-align: middle;padding-left: 3px;color: black;">IV BIMESTRE</td><td></td>';
                    }
                });

            }

    </script>
{% endblock %}




