{% extends 'base/home_newtemplate.html' %}

{% block title %}Matrícula por Niveles{% endblock title %}
{% block form %}
    <h6>Seleccione</h6>
    <div class="card">
        <div class="card-body">

                <form id="formBuscarMatriculados">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-xl-4">
                            <label for="" class="form-label">Grado</label>
                            <select class="single-select" name="grado" id="grado">
                                <option value="1PRIM">1PRIM</option>
                                <option value="2PRIM">2PRIM</option>
                                <option value="3PRIM">3PRIM</option>
                                <option value="4PRIM">4PRIM</option>
                                <option value="5PRIM">5PRIM</option>
                                <option value="6PRIM">6PRIM</option>
                                <option value="1SEC">1SEC</option>
                                <option value="2SEC">2SEC</option>
                                <option value="3SEC">3SEC</option>
                                <option value="4SEC">4SEC</option>
                                <option value="5SEC">5SEC</option>
                            </select>
                        </div>
                        <div class="col-xl-4">
                            <label for="" class="form-label">Sección</label>
                            <select class="single-select" name="seccion" id="seccion">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                        <div class="col-xl-4">
                            <label for="" class="form-label">Año Académico</label>
                            <select class="single-select" name="academico" id="academico">
                                {% for a in anoacademico %}
                                    <option value="{{a.id}}">{{a.Ano}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-info" type="button" id="btnBuscarMatriculados">Buscar</button>

                </form>


            <br>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h6 style="text-align:center;">Matriculados</h6>
            <div class="table-responsive">

                <table id="ListaMatriculados" class="table table-striped table-bordered" >
                    <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Grado</th>
                        <th scope="col">Sección</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block js1 %}
    <script>
        $("#btnBuscarMatriculados").click(function(){
            var dataSerialized=$("#formBuscarMatriculados").serialize();
            $.ajax({
                type: "POST",
                url: "/matricula/listarmatriculaporniveles/",
                data: dataSerialized,
                dataType: "json",
                success: function (response) {
                    // alert(mat_list.id);
                    // $("#ListaMatriculados tbody").html("");
                    // alert(response);
                    // jsonResult = JSON.parse(response);
                    console.log(response);
                    $("#ListaMatriculados").DataTable({
                        "destroy":true,
                        "data":response,
                        "columns":[
                            {data:"id"},
                            {data:"Alumno__DNI"},
                            {data:"Alumno__ApellidoPaterno"},
                            {data:"Alumno__ApellidoMaterno"},
                            {data:"Alumno__Nombres"},
                            {data:"Grado"},
                            {data:"Seccion"},
                        ],
                        //pone el orden de los botones de exportar
                        "buttons": [ 'copy', 'excel', 'pdf', 'print'],
                        dom: 'Bfrtip',
                        order:[0],

                    });
                }
            });
        });

    </script>
{% endblock %}



