{% extends 'base/home_newtemplate.html' %}
{% block title %}MatriculaNuevo{% endblock title %}
{% block form %}
    <!-- <h6 style="text-align:center;">REGISTRO DE ALUMNOS Y MATRÍCULAS </h6> -->
    <style>
        /* .button a : hover{
            
        } */
    </style>
    <div class="row">
        <div class="col-xl-8">
            
            <hr/>
            <div class="card">
                <div class="card-body">
                    
                    <ul class="list-group">
                        <h6 class="mb-0 text-uppercase" >Aulas</h6>
                        
                        <li class="list-group-item d-flex left-content-between align-items-center">
                            <button type="button" class="btn btn-outline-success px-5 radius-30">
                                <i class="bx bxs-bookmark mr-1"></i>1PRIM A
                            </button> 
                            <button class="btn btn-outline-primary">
                                A
                                <span class="badge bg-info rounded-pill">23</span>
                            </button>
                            <button class="btn btn-outline-primary">
                                B<span class="badge bg-info rounded-pill">31</span>
                            </button>
                            <button class="btn btn-outline-primary">
                                C<span class="badge bg-info rounded-pill">35</span>
                            </button>

                        </li>
                        <li class="list-group-item d-flex left-content-between align-items-center">
                            <button type="button" class="btn btn-outline-success px-5 radius-30">
                                <i class="bx bxs-bookmark mr-1"></i>1PRIM B
                            </button>
                            <button class="btn btn-outline-primary">
                                A
                                <span class="badge bg-info rounded-pill">35</span>
                            </button>
                            <button class="btn btn-outline-primary">
                                B<span class="badge bg-info rounded-pill">28</span>
                            </button>
                            <button class="btn btn-outline-primary">
                                C<span class="badge bg-info rounded-pill">26</span>
                            </button>
                            <button class="btn btn-outline-primary">
                                D<span class="badge bg-info rounded-pill">26</span>
                            </button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><button type="button" class="btn btn-outline-success px-5 radius-30"><i class="bx bxs-bookmark mr-1"></i>1PRIM C</button><span class="badge bg-primary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><button type="button" class="btn btn-outline-success px-5 radius-30"><i class="bx bxs-bookmark mr-1"></i>1PRIM D</button><span class="badge bg-primary rounded-pill">14</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js1 %}
    <script>
    </script>
{% endblock js1 %}