{% extends 'base/home_newtemplate.html' %}
{% block title %}Detalle Año Académico{% endblock title %}
{% block active_ac %} active {% endblock%}
{% block form %}
<form method="post">
	{% csrf_token %}
<div class="container">
	<div>
			<h3>Detalle del Año Academico</h3>
	</div>
		<table class="table table-hover">
		  <tbody>
		  	    <tr>
			      	<td>Id</td>
			      	<td>{{object.id}}</td>
			    </tr>
		  	    <tr>
			      	<td>Año</td>
			      	<td>{{object.Ano}}</td>
			    </tr>	
		  	    <tr>
			      	<td>Fecha Inicio</td>
			      	<td>{{object.FechaInicio}}</td>
			    </tr>	
		      	<tr>
			      	<td>Fecha Final</td>
			      	<td>{{object.FechaFinal}}</td>
			    </tr>
		  </tbody>
		</table>
		<a class="btn btn-warning" href="{% url 'app_academico_editar' object.id %}">Editar Año Académico</a>
</div>	
</form>
	
{% endblock %}